/* ********************************************************************************************
    Design for a width of 1400px and above
*********************************************************************************************** */

@media only screen and (max-width: 1920px) and (min-width: 1400px) {
}  

/* ********************************************************************************************
    Design for a width of 768px and above
*********************************************************************************************** */

@media only screen and (min-width: 768px) {
}

/* ********************************************************************************************
    Design for a width of 992px and above
*********************************************************************************************** */

@media only screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* ********************************************************************************************
    Design for a width of 12000px and above
*********************************************************************************************** */

@media only screen and (min-width: 1200px) {    
}

/* ********************************************************************************************
    Design for a width of 1200px and below
*********************************************************************************************** */

@media only screen and (min-width: 992px) and (max-width: 1199px)  {
}

/* ********************************************************************************************
    Design for a width of 1024px and below
*********************************************************************************************** */

@media only screen and (max-width: 1023px)
{
    
    .fixed-top
    {
        position: relative;
    }
    .nv-top-link::after
    {
        display: none;
    }
    .banner-content
    {
        margin-top: -105px;
    }
}

/* ********************************************************************************************
    Design for a width of 992px and below
*********************************************************************************************** */

@media only screen and (min-width: 768px) and (max-width: 991px)  {
}


/* ********************************************************************************************
    Design for a width of 991px and below
*********************************************************************************************** */

@media only screen and (max-width: 991px) {   
}

/* ********************************************************************************************
    Design for a width of 767px and below
*********************************************************************************************** */

@media only screen and (max-width: 767px) 
{
    .job-listing-btn
    {
        width: 100%;
        margin-bottom: 10px;
    }
    .save-job-button
    {
        width: 100%;
        margin-left: 0px !important;
    }
    .job-list-responsive
    {
        margin-bottom: 10px;
    }
    .search-job-responsive
    {
        padding-bottom: 10px;
        padding-top: 20px;
    }
}


/* ********************************************************************************************
    Design for a width of 639px and below
*********************************************************************************************** */

@media only screen and (max-width: 639px) {
}

/* ********************************************************************************************
    Design for a width of 500px and below
*********************************************************************************************** */

@media only screen and (min-width: 576px) {
}

/* ********************************************************************************************
    Design for a width of 520px and below
*********************************************************************************************** */

@media only screen and (min-width: 480px) and (max-width: 520px)  {
}

/* ********************************************************************************************
    Design for a width of 479px and below
*********************************************************************************************** */

@media only screen and (max-width: 479px) {   
}

/* ********************************************************************************************
    Design for a width of 380px and below
*********************************************************************************************** */

@media only screen and (max-width: 380px) {
}

/* ********************************************************************************************
    Design for a width of 320px and below
*********************************************************************************************** */

@media only screen and (max-width: 320px) {    
}

/* ********************************************************************************************
    Design for a width of 1824px and below
*********************************************************************************************** */

/* Desktops and laptops ----------- */
@media only screen and (max-width : 1824px)
{
   
}



/* ********************************************************************************************
    Design for a width of 1224px and below
*********************************************************************************************** */

/* iPads (landscape) ----------- */
@media only screen and (max-width : 1224px) 
{
    
}
